@{
    ViewData["Title"] = "Home Page";
}


@section Header {
    @Html.Partial("_Header")
 }

<div class="container">
    <div class="row d-flex justify-content-between">
        <div class="col-md-6">
            <div class="container">
                <h1 class="display-4">Welcome</h1>
                <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
                  <div class="row">
                     <div class="w-75">
                        <label for="email">Email address:</label>
                        <input type="email" class="form-control" id="email">
                        <div style="color: red;">
                    <p hidden class="empty-field">Field Cannot be Empty</p>
                    </div>
                     </div>
                  </div>
                <div class="row">
                    <div style="margin-top:10px;position: relative;" class="w-75">
                          <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="password">
                        <i class="fa fa-eye" id="togglePassword" onclick="tooglePassword(this)" style="position: absolute; right: 20px; top: 35px; cursor: pointer;"></i>
                        <div style="color: red;">
                            <p hidden class="empty-field">Field Cannot be Empty</p>
                        </div>
                       </div>
                  </div>
                    
                <a class="mt-1 d-inline-block">Forgot Password?</a>
                <div style="color: red;"  id="invalidLogin" hidden>
                    </div>
                <button class="btn btn-primary btn-block mt-4 d-block w-75" id="signin" type="button" style="font-weight: bold; border-radius: 20px;">
                    Sign in
                </button>
                <div class="row w-75 mt-3">
                    <div class="col-md-5">
                        <hr class="bg-primary border-2 border-top border-primary">
                    </div>
                    <div class="col-md-2">
                        <p class="px-3">or</p>
                    </div>
                    <div class="col-md-5">
                        <hr class="bg-danger border-2 border-top border-danger">
                    </div>
                </div>
               
                <button  class="btn btn-light btn-block mt-3 d-block w-75 border signup" style=" border-radius: 30px; border-color: black;">
                   New to LinkD? Join now
                </button>

           </div>


        </div>
        <div class="col-md-6">
            <img src="~/pics/_6313d851-3acf-43f1-a2ae-3a4ddcdaaa55.jpg" class="img-fluid" alt="Responsive image" />
            </div>
    </div>
</div>

@section Scripts {
    <script src="/js/SignUp.js" defer></script>

 }