@using Link_D.Models.Data;

@section Header{
    @await Html.PartialAsync("_MenuBar")
}

@section Scripts{
    <script src="~/js/activity.js" defer></script>
}
@model IList<Post>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3" style="width:600px">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">All activity</h5>
                    <div class="d-flex align-items-center mt-3 mb-3">
                        <button type="button" id="loadPosts" onclick="getPosts()" class="btn btn-outline-secondary rounded-pill me-2"> Posts </button>
                        <button type="button" class="btn btn-outline-secondary rounded-pill me-2"> Comments </button>
                        <button type="button" class="btn btn-outline-secondary rounded-pill"> Likes </button>
                    </div>
                    <div id="postsDiv">
                        
                    </div> <!-- this is where the partial view will be appended -->
                </div>
            </div>
        </div>
    </div>
</div>


