@section Header {
    @Html.Partial("_MenuBar")
 }
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-4">
                <div class="card-body">
                    <div class="media mb-3">
                        <img src="~/pics/OIG (1).jpg" class="mr-3 rounded-circle" alt="User" width="64" height="64">
                        <div class="media-body">
                            <h5 class="mt-0">User Name</h5>
                            <p class="text-muted">Software Engineer at Company</p>
                        </div>
                    </div>
                    <p class="card-text">This is a sample test.</p>
                </div>
                <div class="card-footer bg-white border-top-0">
                    <div class="btn-group" role="group" aria-label="Post actions">
                        <button type="button" class="btn btn-light"><i class="far fa-thumbs-up"></i> Like</button>
                        <button type="button" class="btn btn-light"><i class="far fa-comment"></i> Comment</button>
                        <button type="button" class="btn btn-light"><i class="fas fa-share"></i> Share</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

